@import "components";
@import "variables";
// $bg-color:
html {
  height: 100vh;
}

body {
  background-color: $bg-color;
  padding: 24px 24px;
  height: 100vh;
  color: #27292c;
  display: flex;
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  font-size: 30px;
}

.app-logo {
  padding: 5px 0;
}

.sidebar {
  height: 100%;
  width: max-content;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px;
  max-width: 320px;
  background-color: white;
  border-radius: 16px;
}

.sidebar-nav {
  margin-top: 40px;
  li {
    border-radius: 16px;
    &:first-child {
      //   background-color: $button-selected-color;
      //   @extend .backgroundSelected;
    }
    div {
      @extend %listItem;
    }
    h3 {
      font-size: 16px;
    }
  }
}

.backgroundSelected {
  background-color: $button-selected-color;
}

.support {
  @extend %listItem;
}

.bottom-part {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.row {
  display: flex;
  gap: 12px;
  padding: 24px;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2px 5px;
}

.text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-right: auto;
}
.weather-icons-row {
  display: flex;
  gap: 5px;
  padding: 24px;
  padding-bottom: 6px;
}

.direction-text {
  &::after {
    // find out why this doesnt work
    background-image: url("/images/weather-report/direction.svg");
  }
}

main {
  margin-inline: 24px;
}
