@import "components";
@import "variables";
// $bg-color:

body {
  background-color: $bg-color;
  padding: 24px 24px;
  height: 100vh;
  color: #27292c;
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  font-size: 30px;
}

.app-logo {
  padding: 5px 0;
}

.sidebar {
  height: 100%;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px;
  max-width: 320px;
  background-color: white;
  border-radius: 16px;
}

.sidebar-nav {
  margin-top: 60px;
  li {
    border-radius: 16px;
    &:first-child {
      background-color: $button-selected-color;
    }
    div {
      display: flex;
      padding: 16px 12px;
      gap: 16px;
    }
  }
}
