@import "components";
@import "variables";
// $bg-color:
html {
  height: 100vh;
}

body {
  background-color: $bg-color;
  padding: 24px 24px;
  height: 100vh;
  color: #27292c;
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  font-size: 30px;
}

.app-logo {
  padding: 5px 0;
}

.sidebar {
  height: 100%;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px;
  max-width: 320px;
  background-color: white;
  border-radius: 16px;
}

.sidebar-nav {
  margin-top: 60px;
  li {
    border-radius: 16px;
    &:first-child {
      background-color: $button-selected-color;
    }
    div {
      @extend %listItem;
    }
    h3 {
      font-size: 16px;
    }
  }
}

.support {
  @extend %listItem;
}

.bottom-part {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.row {
  display: flex;
  gap: 12px;
  padding: 24px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2px 5px;
}
